.screen-overview {
    position: absolute;
    top: 112px;
    left: 252px;
    right: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    grid-gap: 26px;
    .header {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        div {
            display: flex;
            align-items: center;
            grid-gap: 40px;
            h1 {
                color: #fff;
                font-size: 18px;
                font-weight: 600;
            }
            span {
                color: #54669c;
                font-size: 14px;
                font-weight: 600;
            }
        }
        button {
            width: 125px;
            height: 32px;
            color: #fff;
            font-size: 14px;
            font-weight: 700;
            border: none;
            border-radius: 8px;
            background: linear-gradient(271.88deg, #3887fe 4.26%, #3ba0ff 51.37%, #5fb2ff 99.01%);
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
            transition: 300ms ease;
            &:hover {
                transform: scale(1.05);
                background: linear-gradient(88.43deg, #2f3453 11.5%, #242845 76.7%);
            }
        }
    }
    .wrapper {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 402px;
        grid-gap: 16px;
        .left-side {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 402px;
            grid-gap: 19px;
            .balance,
            .spending {
                display: flex;
                align-items: center;
                flex-direction: column;
                grid-gap: 30px;
                padding: 16px 26px;
                background: linear-gradient(180deg, rgba(27, 18, 78, 0.2) 0%, #0f0b38 93.37%);
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                .balanceChart {
                    width: 246px;
                    height: 246px;
                    margin-top: 20px;
                }
                .spendingChart {
                    width: 396px;
                    height: 286px;
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    justify-content: space-between;
                    .totalSpending {
                        align-self: flex-start;
                        p {
                            color: #ffffff;
                            font-size: 10px;
                            font-weight: 300;
                            margin-top: 6px;
                        }
                    }
                }
                .top-side {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    span {
                        color: #ffffff;
                        font-size: 16px;
                        font-weight: 300;
                    }
                }
                b {
                    align-self: start;
                    color: #fff;
                }
            }
        }
        .right-side {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 192px;
            grid-gap: 16px;
            .item {
                padding: 16px;
                box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
                border-radius: 5px;
                &:nth-child(2),
                &:nth-child(4) {
                    .info {
                        grid-gap: 9px;
                        .left-side {
                            white-space: nowrap;
                            img {
                                width: 100px;
                                height: 65px;
                            }
                        }
                    }
                }
                .title {
                    color: #fff;
                    font-size: 14px;
                    font-weight: 700;
                    margin-bottom: 30px;
                }
                .info {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    grid-gap: 49px;
                    .left-side {
                        display: flex;
                        align-items: center;
                        grid-gap: 9px;
                        img {
                            width: 84px;
                            height: 84px;
                        }
                        .amount {
                            display: flex;
                            align-items: flex-start;
                            flex-direction: column;
                            grid-gap: 4px;
                            b {
                                color: #fff;
                                font-size: 16px;
                                font-weight: 700;
                            }
                            p {
                                color: #616a8b;
                                font-size: 14px;
                                font-weight: 700;
                            }
                        }
                    }
                    .right-side {
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        grid-gap: 0px;
                        .small-item {
                            display: flex;
                            align-items: center;
                            grid-gap: 10px;
                            border-bottom: 0.5px solid #644696;
                            &:nth-child(3) {
                                border-bottom: none;
                            }
                            .info {
                                color: #fff;
                                padding: 6px 0px;
                                white-space: nowrap;
                                display: flex;
                                flex-direction: column;
                                align-items: flex-start;
                                grid-gap: 2px;
                                b {
                                    font-size: 12px;
                                    font-weight: 400;
                                }
                                p {
                                    font-size: 10px;
                                    font-weight: 300;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .bottom-side {
        width: 100%;
        height: 342px;
        display: flex;
        align-items: center;
        grid-gap: 17px;
        color: #fff;
        .market {
            padding: 16px 26px;
            width: 60%;
            height: 100%;
            background: linear-gradient(176.95deg, rgba(27, 18, 78, 0.2) -32.8%, #0f0b38 88.83%);
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            position: relative;
            .marketChart {
                width: 662px;
                height: 342px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
        .news {
            padding: 16px 26px;
            width: 40%;
            height: 100%;
            background: linear-gradient(185.19deg, rgba(27, 18, 78, 0.2) 3.73%, #0f0b38 95.83%);
            border-radius: 5px;
            .wrapper {
                width: 100%;
                margin-top: 8px;
                border-bottom: 1px solid #2D317A;    
            }
        }
    }
}
